html,
body,
#app {
    height: 100%;
}

body {
    margin: 0;
    font-size: 15px;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6em;
    letter-spacing: 1px;
    background-color: var(--black);
    color: var(--grey);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    vertical-align: middle;
}

p, em, strong, u {
    vertical-align: baseline;
}
