button {
    width: 100%;
    padding: 0.5rem 1rem;
    font: inherit;
    font-weight: bold;
    letter-spacing: inherit;
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid var(--secondary);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--duration);

    &:hover {
        background-color: var(--primary-dark);
    }
}
