.container,
.container-dark,
.container-light,
.container-error {
    padding: 1rem;
    border-radius: var(--border-radius);

    & > :first-child {
        margin-top: 0;
    }

    & > :last-child {
        margin-bottom: 0;
    }
}

.container {
    background-color: var(--black);
    border: 1px solid var(--black-dark);
}

.container-light {
    background-color: var(--black-light);
    border: 1px solid var(--primary);
}

.container-dark {
    background-color: var(--black-dark);
    border: 1px solid var(--black-lightest);
}

.container-error {
    background-color: rgba(255, 34, 34, 0.1);
    border: 1px solid rgba(255, 34, 34, 0.2);
    color: var(--error);
}
