:root {
    --white: #fefefe;
    --black: #222;
    --light-grey: #efefef;

    --theme-1: #01e7ff;
    --theme-2: #426ffd;
    --theme-3: #3939a4;
    --theme-4: #241172;

    --border-radius: 0.5rem;

    --nav-width: 25%;

    --spacing-small: 1rem;
    --spacing-mid: 2rem;
    --spacing-large: 4rem;

    --duration: 0.2s;
}
