:root {
    --white: #fefefe;

    --grey: #ccc;
    --grey-light: #efefef;
    --grey-dark: #aaa;

    --black: #1a1a22;
    --black-light: #1c1c1f;
    --black-lightest: #2f2f38;
    --black-dark: #121218;

    --primary: #3939a4;
    --primary-light: #426ffd;
    --primary-dark: #241172;

    --secondary: #ffb400;
    --secondary-glow: rgba(255, 180, 0, 0.5);

    --tertiary: #01e7ff;

    --error: #f22;

    --border-radius: 0.3rem;

    --spacing-xsmall: 0.5rem;
    --spacing-small: 1rem;
    --spacing-mid: 2rem;
    --spacing-large: 4rem;

    --duration: 0.2s;
}
